@import "./vars.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
    background-color:rgba(0,0,0);
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    font-family: "Sora";
    
}
.p{
    color:#EEE5FFBD;
}